@model IEnumerable<StudentManagmentSystem.Models.Entities.Student>

@{
    ViewData["Title"] = "Главная";
}
<h2>Сортировка:</h2>

<p>
    @Html.ActionLink("Фамилия", "Index", new { sortOrder = ViewBag.SecondNameSortParam }, new { @class = "btn btn-warning" })
    |
    @Html.ActionLink("Страна", "Index", new { sortOrder = ViewBag.CountrySortParam }, new { @class = "btn btn-warning" })
    |
    @Html.ActionLink("Институт", "Index", new { sortOrder = ViewBag.InstituteSortParam }, new { @class = "btn btn-warning" })
</p>


<h2>Список студентов:</h2>

<table class="table">
    <tr>
        <th>№</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Отчество</th>
        <th>Гражданство</th>
        <th>Институт</th>
        <th>Дактилоскопия</th>
        <th>Тел. номер</th>
        <th></th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.FirstName</td>
            <td>@student.SecondName</td>
            <td>@student.LastName</td>
            @* <td>@student.Country.Title</td> *@
            @if (student.Country != null)
            {
                <td>@student.Country.Title</td>
            }
            else
            {
                <td>н/д</td>
            }
            @if (student.Educations.FirstOrDefault()?.InstituteId != null)
            {
                <td>@student.Educations.FirstOrDefault()?.InstituteId</td>
            }
            else
            {
                <td>н/д</td>
            }

            @if (student.Dactyloscopies != null)
            {
                <td>@student.Dactyloscopies.FirstOrDefault()?.Status</td>
            }
            else
            {
                <td>н/д</td>
            }
            <td>@student.Phone</td>

            <td>
                @Html.ActionLink("📔", "Details", new { id = student.Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("✒", "Edit", new { id = student.Id }, new { @class = "btn btn-warning" })
                @Html.ActionLink("X", "Delete", new { id = student.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>
