@model IEnumerable<StudentManagmentSystem.Models.ViewModels.StudentDetailsViewModel>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<h2>Список студентов</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>DactylosId</th>
        <th>DactylosStatus</th>
        <th>EduId</th>
        <th>EduInstitute</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Student.StudentId</td>
            <td>@item.Student.FirstName</td>
            <td>@item.Student.LastName</td>
            @if (item.Dactyloscopy != null)
            {
                <td>@item.Dactyloscopy.StudentId</td>
                <td>@item.Dactyloscopy.Status</td>
            }
            else
            {
                <td>н/д</td>
                <td>н/д</td>
            }
            @if (item.Education != null)
            {
                <td>@item.Education.StudentId</td>
                <td>@item.Education.InstituteId</td>
            }
            else
            {
                <td>н/д</td>
                <td>н/д</td>
            }

            <td>
                @Html.ActionLink("Подробнее", "Details", new { id = item.Student.StudentId })
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Student.StudentId })
                @Html.ActionLink("Удалить", "Delete", new { id = item.Student.StudentId })
            </td>
        </tr>
    }
</table>
