@model IEnumerable<StudentManagmentSystem.Models.Entities.Student>

@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>

<p>
    @Html.ActionLink("Имя", "Index", new { sortOrder = ViewBag.NameSortParam })
    |
    @* @Html.ActionLink("Страна", "Index", new { sortOrder = ViewBag.CountrySortParam }) *@
    
    @* @Html.ActionLink("Институт", "Index", new { sortOrder = ViewBag.InstituteSortParam }) *@
</p>


<h2>Список студентов</h2>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Страна</th>
        <th>DactylosId</th>
        <th>DactylosStatus</th>
        <th>EduId</th>
        <th>EduInstitute</th>
        <th></th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.Id</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>
            <td>@student.Country.Title</td>
            @if (student.Dactyloscopies != null)
            {
                <td>@student.Dactyloscopies.FirstOrDefault()?.StudentId</td>
                <td>@student.Dactyloscopies.FirstOrDefault()?.Status</td>
            }
            else
            {
                <td>н/д</td>
                <td>н/д</td>
            }
            @if (student.Educations != null)
            {
                <td>@student.Educations.FirstOrDefault()?.StudentId</td>
                <td>@student.Educations.FirstOrDefault()?.InstituteId</td>
            }
            else
            {
                <td>н/д</td>
                <td>н/д</td>
            }

            <td>
                @Html.ActionLink("Подробнее", "Details", new { id = student.Id })
                @Html.ActionLink("Редактировать", "Edit", new { id = student.Id })
                @Html.ActionLink("Удалить", "Delete", new { id = student.Id })
            </td>
        </tr>
    }
</table>
